<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blbd.volunteer.dao.ChildEntityMapper">

    <resultMap id="ChildMap" type="com.blbd.volunteer.dao.entity.ChildEntity">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="score" jdbcType="INTEGER" property="score" />
    </resultMap>

    <select id="updateChildName" resultType="com.blbd.volunteer.dao.entity.TaskChildEntity" resultMap="ChildMap">
        select name
        from child
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="searchScore" resultType="com.blbd.volunteer.dao.entity.TaskChildEntity" resultMap="ChildMap">
        select score
        from child
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <update id="updateScore" parameterType="com.blbd.volunteer.dao.entity.TaskChildEntity">
        update child
        <set>
            <if test="score != null">score = #{score,jdbcType=VARCHAR},</if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>




</mapper>