<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blbd.volunteer.dao.TaskVolunteerEntityMapper">

    <resultMap id="TaskVolunteerMap" type="com.blbd.volunteer.dao.entity.TaskVolunteerEntity">

        <id column="volunteer_id" jdbcType="VARCHAR" property="volunteerId" />
        <result column="child_id" jdbcType="VARCHAR" property="childId" />
        <result column="task_id" jdbcType="VARCHAR" property="taskId"/>
        <result column="approval_start_time" jdbcType="TIMESTAMP" property="approvalStartTime"/>
        <result column="approval_finish_time" jdbcType="TIMESTAMP" property="approvalFinishTime"/>
        <result column="approval_end_time" jdbcType="TIMESTAMP" property="approvalEndTime"/>
        <result column="is_completed_approval" jdbcType="TINYINT" property="isCompletedApproval"/>
        <result column="approval_comments" jdbcType="VARCHAR" property="approvalComments"/>
        <result column="homework_photo" jdbcType="VARCHAR" property="homeworkPhoto"/>
        <result column="task_photo" jdbcType="VARCHAR" property="taskPhoto"/>
        <result column="child_name" jdbcType="VARCHAR" property="childName"/>
        <result column="task_name" jdbcType="VARCHAR" property="taskName"/>
        <result column="task_video" jdbcType="VARCHAR" property="taskVideo"/>

    </resultMap>


    <update id="updateNew" parameterType="taskVolunteerEntity">
        update mgzm.task_volunteer
        <set>
            <if test="taskName != null">
                task_name = #{taskName},
            </if>
            <if test="childName != null">
                child_name = #{childName},
            </if>
            <if test="taskPhoto != null">
                task_photo = #{taskPhoto},
            </if>
            <if test="homeworkPhoto != null">
                homework_photo = #{homeworkPhoto},
            </if>
            <if test="taskVideo != null">
                task_video = #{taskVideo},
            </if>
        </set>
        where task_id = #{taskId}
    </update>

    
    <insert id="insert" parameterType="taskVolunteerEntity">
        insert into mgzm.task_volunteer (volunteer_id, child_id, task_id, approval_start_time,
                                         approval_finish_time, approval_end_time, is_completed_approval, approval_comments)
        VALUES (#{volunteerId},#{childId},#{taskId},#{approvalStartTime},#{approvalFinishTime},#{approvalEndTime}
        ,#{isCompletedApproval},#{approvalComments})
    </insert>

    <!--更新志愿者任务信息-->
    <update id="updateInfo" parameterType="taskVolunteerEntity">
        update mgzm.task_volunteer
        <set>
            <if test="approvalStartTime != null">
                approval_start_time = #{approvalStartTime},
            </if>
            <if test="approvalFinishTime != null">
                approval_finish_time = #{approvalFinishTime},
            </if>
            <if test="approvalEndTime != null">
                approval_end_time = #{approvalEndTime},
            </if>
            <if test="isCompletedApproval != null">
                is_completed_approval = #{isCompletedApproval},
            </if>
            <if test="approvalComments != null">
                approval_comments = #{approvalComments},
            </if>
            <if test="homeworkPhoto != null">
                homework_photo = #{homeworkPhoto},
            </if>
            <if test="taskPhoto != null">
                task_photo = #{taskPhoto},
            </if>
            <if test="childName != null">
                child_name = #{childName},
            </if>
            <if test="taskName != null">
                task_name = #{taskName},
            </if>
            <if test="taskVideo != null">
                task_video = #{taskVideo},
            </if>
        </set>
        where volunteer_Id = #{volunteerId} and child_id = #{childId} and task_id = #{taskId}
    </update>


    <!--对任务评价打分-志愿者-->
    <update id="evaluateTask" parameterType="taskVolunteerEntity">
        update mgzm.task_volunteer
        <set>

            <if test="approvalFinishTime != null">
                approval_finish_time = #{approvalFinishTime},
            </if>
            <if test="isCompletedApproval != null">
                is_completed_approval = #{isCompletedApproval},
            </if>
            <if test="approvalComments != null">
                approval_comments = #{approvalComments},
            </if>
        </set>
        where task_id = #{taskId}
    </update>

    <!--查询未完成任务-->
    <select id="selectAll" parameterType="taskVolunteerEntity" resultType="arraylist" resultMap="TaskVolunteerMap">
        select *
        from mgzm.task_volunteer
        where  volunteer_id = #{volunteerId} AND is_completed_approval = 0
    </select>

    <!--模糊查询未完成任务-->
    <select id="search" parameterType="taskVolunteerEntity" resultType="arraylist" resultMap="TaskVolunteerMap">
        select *
        from mgzm.task_volunteer
        where task_name like CONCAT('%', #{taskName}, '%') AND is_completed_approval = 0
    </select>

    <!--查询已完成任务-->
    <select id="finishTask" parameterType="taskVolunteerEntity" resultType="arraylist" resultMap="TaskVolunteerMap">
        select *
        from mgzm.task_volunteer
        where  volunteer_id = #{volunteerId} AND is_completed_approval != 0
    </select>

    <!--查询已完成任务-->
    <select id="finishSearchTask" parameterType="taskVolunteerEntity" resultType="arraylist" resultMap="TaskVolunteerMap">
        select *
        from mgzm.task_volunteer
        where task_name like CONCAT('%', #{taskName}, '%') AND is_completed_approval != 0
    </select>


    <!--查询任务-->
    <select id="selectOne" parameterType="taskVolunteerEntity" resultType="arraylist" resultMap="TaskVolunteerMap">
        select *
        from mgzm.task_volunteer
        where  task_id = #{taskId}
    </select>





    
</mapper>