<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blbd.volunteer.dao.VolunteerEntityMapper">
    <resultMap id="VolunteerMap" type="com.blbd.volunteer.dao.entity.VolunteerEntity">

        <id column="vol_id" jdbcType="VARCHAR" property="volId" />
        <result column="vol_username" jdbcType="VARCHAR" property="volUsername" />
        <result column="vol_password" jdbcType="VARCHAR" property="volPassword"/>
        <result column="vol_name" jdbcType="VARCHAR" property="volName"/>
        <result column="vol_locate" jdbcType="VARCHAR" property="volLocate"/>
        <result column="vol_organization" jdbcType="VARCHAR" property="volOrganization"/>
        <result column="vol_duty" jdbcType="INTEGER" property="volDuty"/>
        <result column="vol_corrected_tasks" jdbcType="INTEGER" property="volCorrectedTasks"/>
        <result column="vol_tel" jdbcType="VARCHAR" property="volTel"/>
        <result column="vol_sfz" jdbcType="VARCHAR" property="volSfz"/>
        <result column="if_pass" jdbcType="VARCHAR" property="ifPass"/>

    </resultMap>

    <!-- 增加志愿者信息，测试成功 -->
    <insert id="insert" parameterType="com.blbd.volunteer.dao.entity.VolunteerEntity">

        insert into volunteer (vol_id, vol_username,vol_password,
        vol_name, vol_locate,
        vol_organization, vol_duty, vol_corrected_tasks,
        vol_tel, vol_sfz, if_pass)
        values (#{volId,jdbcType=VARCHAR}, #{volUsername,jdbcType=VARCHAR}, #{volPassword,jdbcType=VARCHAR},
        #{volName,jdbcType=VARCHAR}, #{volLocate,jdbcType=VARCHAR},
        #{volOrganization,jdbcType=VARCHAR}, #{volDuty,jdbcType=INTEGER},
        #{volCorrectedTasks,jdbcType=INTEGER}, #{volTel,jdbcType=VARCHAR},
        #{volSfz,jdbcType=VARCHAR},#{ifPass,jdbcType=VARCHAR})
    </insert>




    <!-- 查询志愿者信息，测试成功 -->
    <select id="selectVolunteerInfo"  parameterType="VolunteerEntity" resultType="arraylist" resultMap="VolunteerMap" >
        select vol_id, vol_username, vol_password, vol_name, vol_locate,
               vol_organization, vol_duty, vol_corrected_tasks, vol_tel, vol_sfz, if_pass
        from volunteer
        where vol_username = #{volUsername,jdbcType=VARCHAR} and vol_password = #{volPassword,jdbcType=VARCHAR}
    </select>


    <!-- 查询username是否已有 -->
    <select id="selectVolunteerUsername"  parameterType="VolunteerEntity" resultType="arraylist" resultMap="VolunteerMap">
        select vol_id, vol_username, vol_password,
               vol_name, vol_locate,
               vol_organization, vol_duty, vol_corrected_tasks,
               vol_tel, vol_sfz, if_pass
        from volunteer
        where vol_username = #{volUsername,jdbcType=VARCHAR}
    </select>


    <!-- 修改志愿者信息，测试成功-->
    <update id="updateVolunteer" parameterType="com.blbd.volunteer.dao.entity.VolunteerEntity">
        update volunteer
        <set>
            <if test="volUsername != null">vol_username = #{volUsername,jdbcType=VARCHAR},</if>
            <if test="volPassword != null">vol_password = #{volPassword,jdbcType=VARCHAR},</if>
            <if test="volName != null">vol_name = #{volName,jdbcType=VARCHAR},</if>
            <if test="volLocate != null">vol_locate = #{volLocate,jdbcType=VARCHAR},</if>
            <if test="volOrganization != null">vol_organization = #{volOrganization,jdbcType=CHAR},</if>
            <if test="volDuty != null">vol_duty = #{volDuty,jdbcType=INTEGER},</if>
            <if test="volCorrectedTasks != null">vol_corrected_tasks = #{volCorrectedTasks,jdbcType=INTEGER},</if>
            <if test="volSfz != null">vol_sfz = #{volSfz,jdbcType=VARCHAR}</if>
            <if test="ifPass != null">if_pass = #{ifPass,jdbcType=VARCHAR}</if>
        </set>
        where vol_username = #{volUsername,jdbcType=VARCHAR}
    </update>


    <!-- 查询volunteer根据id -->
    <select id="selectVolunteerById"  parameterType="VolunteerEntity" resultType="arraylist" resultMap="VolunteerMap">
        select vol_id, vol_username, vol_password,
               vol_name, vol_locate,
               vol_organization, vol_duty, vol_corrected_tasks,
               vol_tel, vol_sfz, if_pass
        from volunteer
        where vol_id = #{volId,jdbcType=VARCHAR}
    </select>








</mapper>